@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var obj = new
    {
        id = "123",
        name = "aaa",
        password = "abc123"
    };
}
<div>
    @Newtonsoft.Json.JsonConvert.SerializeObject(obj);
</div>
